<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone_book.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @phone_book.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @phone_book.address %>
</p>

<%= link_to 'Edit', edit_phone_book_path(@phone_book) %> |
<%= link_to 'Back', phone_books_path %>
